#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_naturacoin
#build/naturacoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_naturacoin)

DEB_INSTALL_EXAMPLES_naturacoind += debian/examples/*
DEB_INSTALL_MANPAGES_naturacoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix naturacoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f naturacoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake naturacoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_naturacoin
	src/test_naturacoin

# Ensure wrapper is set executable
binary-post-install/naturacoind:
	chmod +x $(cdbs_curdestdir)usr/bin/naturacoind
binary-post-install/naturacoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/naturacoin-qt
